@import "tailwindcss";
@import "../ui/theme.css";

html {
  font-family: Inter;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #575757 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #575757;
    border-radius: 10px;
    border: 3px inset #000000;
  }